/* Estilos para la sección de contacto */
.contacto {
  padding: 50px 20px;
  text-align: center;
  background-color: #1A1A2E; /* Fondo oscuro */
  color: #FFFFFF; /* Texto claro */
}

.contacto-content h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #FFD700; /* Texto dorado */
}

.contacto-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.email-image {
  margin-top: 20px;
}

.responsive-image {
  max-width: 100%; /* La imagen se ajusta al ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Diseño responsive */
@media screen and (min-width: 600px) {
  .contacto-content h1 {
      font-size: 3rem; /* Tamaño más grande para tablets */
  }

  .contacto-content p {
      font-size: 1.5rem;
  }

  .responsive-image {
      max-width: 80%; /* Ajusta el tamaño de la imagen en tablets */
  }
}

@media screen and (min-width: 1024px) {
  .responsive-image {
      max-width: 50%; /* Ajusta el tamaño de la imagen en desktops */
  }
}

/* Estilos generales del footer */
.footer {
  margin-top: 0%;
  background: linear-gradient(135deg, #084060, #181A1F);
  padding: 40px 20px;
  color: #FFFFFF;
  border-top: 3px solid #3A3D46;
}

/* Contenedor del footer */
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Sección de contacto */
.footer-contact {
  max-width: 500px;
  text-align: center;
}

.footer-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.footer-text {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #B0BEC5;
  margin-bottom: 20px;
}

/* Contenedor de íconos */
.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Estilos de los íconos */
.footer-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #282C34;
  padding: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.footer-icon-link:hover .footer-icon {
  transform: scale(1.1);
  background-color: #3A3D46;
}

/* Diseño Responsivo */
@media (min-width: 768px) {
  .footer-container {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }

  .footer-contact {
      text-align: left;
  }

  .footer-icons {
      justify-content: flex-end;
  }
}

@media (min-width: 1024px) {
  .footer-container {
      flex-direction: row;
      align-items: center;
  }

  .footer-contact {
      max-width: 600px;
  }
}



