
<section class="contacto">
  <div class="contacto-content">
      <h1>CONTACTAME</h1>
      <p>Puedes contactarme a través de mi correo electrónico:</p>
      <div class="email-image">
          <img src="assets/images/ContactoEmail.png" alt="Email de contacto" class="responsive-image">
      </div>
      <p>O a traves de mis redes sociales en el footer de abajo</p>
      <p>Haz click en los iconos</p>
  </div>
</section>
<footer class="footer">
  <div class="footer-container">
      <div class="footer-contact">
          <h3 class="footer-title">Contactame si te interesa mi trabajo</h3>
          <p class="footer-text">
              Explora mis redes sociales y envíame un mensaje para colaborar en proyectos innovadores.
          </p>
      </div>
      <div class="footer-icons">
          <a href="https://www.linkedin.com/in/guillermovasbendev/" target="_blank" class="footer-icon-link">
              <img src="assets/images/linkedin.png" alt="LinkedIn" class="footer-icon">
          </a>
          <a href="https://github.com/guillermoSoftwareEngineer" target="_blank" class="footer-icon-link">
              <img src="assets/images/github.png" alt="GitHub" class="footer-icon">
          </a>
          <a href="/contacto" class="footer-icon-link">
              <img src="assets/images/email.png" alt="Correo Electrónico" class="footer-icon">
          </a>
      </div>
  </div>
</footer>
