/* Estilos para la sección de contacto */
.contacto {
  padding: 50px 20px;
  text-align: center;
  background-color: #1A1A2E;
  color: #FFFFFF;
}

.contacto-content h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #FFD700;
}

.contacto-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.email-image {
  margin-top: 20px;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Diseño responsive */
@media screen and (min-width: 600px) {
  .contacto-content h1 {
      font-size: 3rem;
  }

  .contacto-content p {
      font-size: 1.5rem;
  }

  .responsive-image {
      max-width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .responsive-image {
      max-width: 50%;
  }
}




