<section class="hero-section">
  <div class="content">
    <h1 class="title">Azure Raspberry e IOT - Parte 2</h1>
    <p class="description">
      En la sección de administración de acceso, define el método de control de acceso. Puedes optar por "Solo RBAC" para dar permisos específicos a los usuarios, o por la opción de "Directiva de Acceso Compartido + RBAC", que es más flexible y permite un control más detallado. Selecciona esta última opción y marca la casilla del "Rol Colaborador de Datos de IoT Hub" para asignar automáticamente permisos de lectura y escritura. A continuación, ajusta el escalado de particiones en la nube. Para esta aplicación pequeña, cuatro particiones serán suficientes para garantizar un buen rendimiento sin excesos innecesarios.
    </p>
    <img
      src="assets/images/raspiParts5.png"
      alt="Imagen de configuración avanzada"
      class="hero-image"
    />
    <p class="description">
      Después, asigna etiquetas al proyecto para facilitar su búsqueda y administración. Estas etiquetas son útiles cuando hay múltiples proyectos, ya que ayudan a organizar elementos y llevar un mejor control de la facturación.
    </p>
    <img
      src="assets/images/raspiParts6.png"
      alt="Imagen de sensores"
      class="hero-image"
    />

    <p class="description">
      No olvides realizar todas las configuraciones pertinentes en esta sección.
    </p>

    <!-- Nueva sección de imagen y texto -->
    <p class="description">
    </p>
    <div class="image-group">
      <img
        src="assets/images/raspiParts7.png"
        alt="Imagen de Stream Analytics"
        class="hero-image centered-image"
      />
      <div class="image-row">
        <img
          src="assets/images/raspiParts8.png"
          alt="Imagen de Stream Analytics"
          class="hero-image left-image"
        />
        <img
          src="assets/images/raspiParts9.png"
          alt="Imagen de Stream Analytics"
          class="hero-image right-image"
        />
      </div>
    </div>

    <!-- Nueva sección de imagen y texto -->
    <p class="description">
      Finalmente, haz clic en "Revisar y crear". Revisa la configuración proporcionada por la plataforma y, si todo está correcto, se selecciona "Crear" para iniciar la implementación del centro de IoT. La implementación comenzará y deberás esperar a que se complete para empezar a trabajar con el entorno creado.
    </p>


    <!-- Enlace "Seguir leyendo" -->
    <a routerLink="/azure-io-t-3" class="read-more-link">
      Seguir leyendo
    </a>
  </div>
</section>
