/* Estilos para la sección de proyectos */
.projects {
  padding: 80px 20px;
  text-align: center;
  background-color: #ffffff;
}

.projects h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #3366cc;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.project-card h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}

.project-card p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #666;
}

.button-container {
  display: flex;
  gap: 10px;
}

.project-card .btn {
  background-color: #3366cc;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  flex: 1;
  text-align: center;
}

.project-card .btn.secondary {
  background-color: #084060;
}

.project-card .btn:hover {
  background-color: #4B0352;
}

.project-card .btn.secondary:hover {
  background-color: #E76F51;
}

/* Diseño Responsivo */
@media (max-width: 768px) {
  .project-card {
    width: 100%;
  }

  .project-image {
    height: 150px;
  }

  .button-container {
    flex-direction: column;
    gap: 10px;
  }

  .project-card .btn {
    max-width: 100%;
    margin-right: 0;
  }
}
