<section class="projects">
  <h1>Mis Proyectos</h1>
  <div class="project-list">
    <div class="project-card">
      <img src="assets/images/Calc_proyectos.png" alt="Proyecto 1" class="project-image">
      <h2>Calculadora Eléctrica en Angular</h2>
      <p>
        Aplicación web desarrollada en Angular para cálculos eléctricos y electrónicos en sistemas monofásicos y trifásicos. Permite calcular variables clave como voltajes, corrientes, factor de potencia (Cos φ), reactancias inductiva y capacitiva, velocidad angular, entre otros. Con interfaz intuitiva y dinámica, ofrece precisión y eficiencia para ingenieros y técnicos. Diseño responsive y modular, ideal para integración en entornos profesionales.
      </p>
      <div class="button-container">
        <a routerLink="/proyecto/1" class="btn">Leer Más</a>
        <a href="#" class="btn secondary">Visitar Proyecto</a>
      </div>
    </div>

    <div class="project-card">
      <img src="assets/images/proyecto2.jpg" alt="Proyecto 2" class="project-image">
      <h2>Proyecto 2</h2>
      <p>
        Descripción breve del proyecto. Puedes incluir detalles sobre las tecnologías utilizadas,
        los desafíos enfrentados y los resultados obtenidos.
      </p>
      <div class="button-container">
        <a routerLink="/proyecto/2" class="btn">Leer Más</a>
        <a href="#" class="btn secondary">Visitar Proyecto</a>
      </div>
    </div>

    <div class="project-card">
      <img src="assets/images/proyecto3.jpg" alt="Proyecto 3" class="project-image">
      <h2>Proyecto 3</h2>
      <p>
        Descripción breve del proyecto. Puedes incluir detalles sobre las tecnologías utilizadas,
        los desafíos enfrentados y los resultados obtenidos.
      </p>
      <div class="button-container">
        <a routerLink="/proyecto/3" class="btn">Leer Más</a>
        <a href="#" class="btn secondary">Visitar Proyecto</a>
      </div>
    </div>

    <div class="project-card">
      <img src="assets/images/proyecto3.jpg" alt="Proyecto 3" class="project-image">
      <h2>Proyecto 3</h2>
      <p>
        Descripción breve del proyecto. Puedes incluir detalles sobre las tecnologías utilizadas,
        los desafíos enfrentados y los resultados obtenidos.
      </p>
      <div class="button-container">
        <a routerLink="/proyecto/4" class="btn">Leer Más</a>
        <a href="#" class="btn secondary">Visitar Proyecto</a>
      </div>
    </div>

    <div class="project-card">
      <img src="assets/images/proyecto3.jpg" alt="Proyecto 3" class="project-image">
      <h2>Proyecto 3</h2>
      <p>
        Descripción breve del proyecto. Puedes incluir detalles sobre las tecnologías utilizadas,
        los desafíos enfrentados y los resultados obtenidos.
      </p>
      <div class="button-container">
        <a routerLink="/proyecto/5" class="btn">Leer Más</a>
        <a href="#" class="btn secondary">Visitar Proyecto</a>
      </div>
    </div>

    <div class="project-card">
      <img src="assets/images/proyecto3.jpg" alt="Proyecto 3" class="project-image">
      <h2>Proyecto 3</h2>
      <p>
        Descripción breve del proyecto. Puedes incluir detalles sobre las tecnologías utilizadas,
        los desafíos enfrentados y los resultados obtenidos.
      </p>
      <div class="button-container">
        <a routerLink="/proyecto/6" class="btn">Leer Más</a>
        <a href="#" class="btn secondary">Visitar Proyecto</a>
      </div>
    </div>


  </div>
</section>
