<section class="hero-section">
  <div class="content">
    <h1 class="title">Azure Raspberry e IOT - Parte 3</h1>


        <!-- Texto ocupando el ancho completo, imagen debajo -->
        <div class="section-full-width">
          <p class="description">
            El siguiente paso será la creación de un componente Raspberry Pi en el espacio de trabajo del Centro de IoT. Regresando al Centro de IoT, veremos el espacio de trabajo que hemos creado. Solo necesitamos hacer clic sobre él para acceder y empezar a configurarlo
          </p>
          <img
            src="assets/images/raspiParts10.png"
            alt="Imagen de Power BI"
            class="hero-image"
          />
          <img
            src="assets/images/raspiParts11.png"
            alt="Imagen de Power BI"
            class="hero-image"
          />
          <img
            src="assets/images/raspiParts12.png"
            alt="Imagen de Power BI"
            class="hero-image"
          />
          <p class="description">
            Agregamos, un nuevo dispositivo, asignándole un nombre y luego guarda la configuración. Después de unos segundos, el dispositivo se agregará y estará disponible en el sistema, listo para comenzar con las pruebas y configuraciones adicionales.
            Creación del dispositivo Raspberry Pi Sim en él entorno
            Solo debemos dar en este sitio agregar nuevo dispositivo, como se aprecia la imagen</p>

          <img
            src="assets/images/raspiParts13.png"
            alt="Imagen de Power BI"
            class="hero-image"
          />
        </div>

        <p class="description">
          Podríamos pensar que esta sería la configuración completa, pero aún nos faltan algunos pasos, como por ejemplo, obtener una clave que nos permita comunicarnos específicamente con este entorno de Azure. Esto se obtiene creando el dispositivo como lo vemos a continuación.
        </p>

        <img
          src="assets/images/raspiParts14.png"
          alt="Imagen de configuración avanzada"
          class="hero-image"
        />

        <p class="description">
          Concluimos la creación dando guardar.
        </p>

        <img
        src="assets/images/raspiParts14.png"
        alt="Imagen de configuración avanzada"
        class="hero-image"
      />




    <!-- Enlace "Volver a Artículos" -->
    <a routerLink="/articulos" class="read-more-link">
      Volver a Artículos
    </a>
  </div>
</section>
