<section class="about">
  <div class="about-content">
      <h1 >Sobre Mí</h1>
      <p>
        ¡Hola! Soy un tecnologo con una sólida base en electricidad y electrónica, respaldada por más de 10
        años de experiencia profesional en electrónica de potencia y trabajos eléctricos. Actualmente estoy
        terminando mi formación en ingeniería de software, lo que me permite combinar conocimientos técnicos
        avanzados con habilidades de desarrollo modernas.
      </p>
      <p>
        A lo largo de mi carrera, he destacado en la solución de problemas técnicos complejos, garantizando
        calidad y precisión incluso en entornos de alta presión. Esta experiencia me ha enseñado a analizar
        fallos electrónicos, optimizar procesos y encontrar soluciones prácticas que mantienen los sistemas
        funcionando al máximo rendimiento. Además, mi habilidad para comprender los conceptos técnicos a fondo
        me permite comunicarme eficazmente con diferentes equipos, traduciendo problemas complejos en
        soluciones claras y viables.
      </p>
      <p>
        Actualmente, estoy enfocado en ampliar mi experiencia en el desarrollo de software, especialmente en
        frontend y en la creación de aplicaciones que aprovechen tanto mi conocimiento técnico como mi pasión
        por la tecnología. Mi objetivo es contribuir a proyectos innovadores, trabajar en equipos
        multidisciplinarios y seguir creciendo en una industria que siempre está en movimiento.
      </p>

      <!-- Sección de video -->
      <div class="video-container">
          <video class="video" autoplay muted loop>
              <source src="./assets/video/videPortafolio2025.mp4" type="video/mp4">
              Tu navegador no soporta la reproducción de video.
          </video>
          <button class="mute-button" (click)="toggleMute()">
            <span *ngIf="isMuted">🔇</span>
            <span *ngIf="!isMuted">🔊</span>
        </button>
      </div>

      <ul class="skills-list">
          <li>Angular</li>
          <li>JavaScript</li>
          <li>TypeScript</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>Git</li>
          <li>Responsive Design</li>
          <li>Ingenieria de software</li>
          <li>Electricidad</li>
          <li>Electronica</li>
      </ul>
      <a routerLink="/contacto" class="btn">Contáctame</a>
  </div>
</section>
<footer class="footer">
  <div class="footer-container">
      <div class="footer-contact">
          <h3 class="footer-title">Contactame si te interesa mi trabajo</h3>
          <p class="footer-text">
              Explora mis redes sociales y envíame un mensaje para colaborar en proyectos innovadores.
          </p>
      </div>
      <div class="footer-icons">
          <a href="https://www.linkedin.com/in/guillermovasbendev/" target="_blank" class="footer-icon-link">
              <img src="assets/images/linkedin.png" alt="LinkedIn" class="footer-icon">
          </a>
          <a href="https://github.com/guillermoSoftwareEngineer" target="_blank" class="footer-icon-link">
              <img src="assets/images/github.png" alt="GitHub" class="footer-icon">
          </a>
          <a href="/contacto" class="footer-icon-link">
              <img src="assets/images/email.png" alt="Correo Electrónico" class="footer-icon">
          </a>
      </div>
  </div>
</footer>
