<div class="menu-container">
  <header class="header-modern">
      <div class="menu-toggle" (click)="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
      </div>
      <nav class="nav-modern" [ngClass]="{ 'active': isMenuActive }">
          <img src="assets/images/circle-logo.png" class="logo-modern" alt="Logo">
          <ul>
              <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
              <li><a routerLink="/sobre-mi" routerLinkActive="active">Sobre mí</a></li>
              <li><a routerLink="/proyectos" routerLinkActive="active">Proyectos</a></li>
              <li><a routerLink="/articulos" routerLinkActive="active">Articulos</a></li>
          </ul>
          <button class="close-menu" (click)="closeMenu()">X</button>
      </nav>
  </header>
</div>

<main>
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="footer-container">
      <div class="footer-contact">
          <h3 class="footer-title">Contactame si te interesa mi trabajo</h3>
          <p class="footer-text">
              Explora mis redes sociales y envíame un mensaje para colaborar en proyectos innovadores.
          </p>
      </div>
      <div class="footer-icons">
          <a href="https://www.linkedin.com/in/guillermovasbendev/" target="_blank" class="footer-icon-link">
              <img src="assets/images/linkedin.png" alt="LinkedIn" class="footer-icon">
          </a>
          <a href="https://github.com/guillermoSoftwareEngineer" target="_blank" class="footer-icon-link">
              <img src="assets/images/github.png" alt="GitHub" class="footer-icon">
          </a>
          <a href="/contacto" class="footer-icon-link">
              <img src="assets/images/email.png" alt="Correo Electrónico" class="footer-icon">
          </a>
      </div>
  </div>
</footer>
