<div class="menu-container">
  <header class="header-modern">
      <div class="menu-toggle" (click)="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
      </div>
      <nav class="nav-modern" [ngClass]="{ 'active': isMenuActive }">
          <img src="assets/images/circle-logo.png" class="logo-modern" alt="Logo">
          <ul>
              <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
              <li><a routerLink="/sobre-mi" routerLinkActive="active">Sobre mí</a></li>
              <li><a routerLink="/proyectos" routerLinkActive="active">Proyectos</a></li>
              <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
          </ul>
          <button class="close-menu" (click)="closeMenu()">X</button>
      </nav>
  </header>
</div>

<main>
  <router-outlet></router-outlet>
</main>
