<div class="hero-container hero-parallax">
  <div class="hero-content">
      <h1 class="hero-title">GUILLERMO VASQUEZ</h1>
      <p class="hero-subtitle">Ingeniería de software, Electrónica, Electricidad</p>
      <a href="https://github.com/guillermoSoftwareEngineer" class="hero-button">GitHub</a>
  </div>
</div>

<section class="highlights">
  <h2 style="color: #164e6e;">DESTACADOS</h2>
  <div class="highlight-cards">
      <div class="card">
          <div class="card-image">
              <img src="assets/images/phenixCalculadora.png" alt="Imagen del proyecto">
          </div>
          <h3>CALCULADORA ELECTRICA ELECTRONICA</h3>
          <p>Calculadora reaciva de variables electricas y electronicas</p>
          <a routerLink="/proyectos" class="btn">Ver Proyectos</a>
      </div>
      <div class="card">
          <div class="card-image">
              <img src="assets/images/conexionNube.png" alt="Imagen del proyecto">
          </div>
          <h3>RaspberryPi y AZURE</h3>
          <p>Conexion de simulacion RaspberryPi <br> en GITHUB con la nuve de AZURE. <br> configuracion y puesta en marcha</p>
          <br><a routerLink="/articulos" class="btn">Leer Artículos</a>
      </div>
      <div class="card">
          <div class="card-image">
              <img src="assets/images/rostro.png" alt="Imagen del proyecto">
          </div>
          <h3>Reconocimiento de emociones</h3>
          <p>Reconocimiento de emociones usando la camara del computador en python</p>
          <a routerLink="/articulos" class="btn">Leer Artículos</a>
      </div>
      <div class="card">
          <div class="card-image">
              <img src="assets/images/circle-logo.png" alt="Imagen del proyecto">
          </div>
          <h3>Proyectos pendientes</h3>
          <p>Espacio para proyectos futuros</p>
          <a routerLink="/articulos" class="btn">Leer otros proyectos</a>
      </div>
      <div class="card">
          <div class="card-image">
              <img src="assets/images/circle-logo.png" alt="Imagen del proyecto">
          </div>
          <h3>Proyectos pendientes</h3>
          <p>Espacio para proyectos futuros</p>
          <a routerLink="/articulos" class="btn">Leer otros proyectos</a>
      </div>
      <div class="card">
          <div class="card-image">
              <img src="assets/images/circle-logo.png" alt="Imagen del proyecto">
          </div>
          <h3>Proyectos pendientes</h3>
          <p>Espacio para proyectos futuros</p>
          <a routerLink="/articulos" class="btn">Leer otros proyectos</a>
      </div>
  </div>
</section>
<footer class="footer">
  <div class="footer-container">
      <div class="footer-contact">
          <h3 class="footer-title">Contactame si te interesa mi trabajo</h3>
          <p class="footer-text">
              Explora mis redes sociales y envíame un mensaje para colaborar en proyectos innovadores.
          </p>
      </div>
      <div class="footer-icons">
          <a href="https://www.linkedin.com/in/guillermovasbendev/" target="_blank" class="footer-icon-link">
              <img src="assets/images/linkedin.png" alt="LinkedIn" class="footer-icon">
          </a>
          <a href="https://github.com/guillermoSoftwareEngineer" target="_blank" class="footer-icon-link">
              <img src="assets/images/github.png" alt="GitHub" class="footer-icon">
          </a>
          <a href="/contacto" class="footer-icon-link">
              <img src="assets/images/email.png" alt="Correo Electrónico" class="footer-icon">
          </a>
      </div>
  </div>
</footer>
