<div class="hero-container hero-parallax">
  <div class="hero-content">
      <h1 class="hero-title">GUILLERMO VASQUEZ</h1>
      <p class="hero-subtitle">Ingeniería de software, Electrónica, Electricidad</p>
      <a href="https://github.com/guillermoSoftwareEngineer" class="hero-button">GitHub</a>
  </div>
</div>

<section class="highlights">
  <h2 style="color: #164e6e;">DESTACADOS</h2>
  <div class="highlight-cards">
      <div class="card">
          <div class="card-image">
              <img src="assets/images/phenixCalculadora.png" alt="Imagen del proyecto">
          </div>
          <h3>CALC. ELECTRICA ELECTRONICA</h3>
          <p>Calculadora de variables electricas y electronicas</p>
          <a routerLink="/proyecto/1" class="btn">Ver Proyecto</a>
      </div>
      <div class="card">
          <div class="card-image">
              <img src="assets/images/conexionNube.png" alt="Imagen del proyecto">
          </div>
          <h3>RASPBERRIPI y AZURE</h3>
          <p>Conexion de simulacion RaspberryPi <br> en GITHUB con la nuve de AZURE. <br> configuracion y puesta en marcha</p>
          <br><a routerLink="/articulos" class="btn">Ver Proyecto</a>
      </div>
      <div class="card">
          <div class="card-image">
              <img src="assets/images/rostro.png" alt="Imagen del proyecto">
          </div>
          <h3>RECONOCIMIENTO DE EMOCIONES</h3>
          <p>Reconocimiento de emociones usando la camara del computador en python</p>
          <a routerLink="/articulos" class="btn">Ver Proyecto</a>
      </div>
      <div class="card">
          <div class="card-image">
              <img src="assets/images/IA.png" alt="Imagen del proyecto">
          </div>
          <h3>RETOS DE LA IA HOY</h3>
          <p>Que nos debe preocupar actualmente de la IA <br> Peligros <br> Adaptacion </p>


          <a routerLink="/articulos" class="btn">Ver Articulo</a>
      </div>
      <div class="card">
          <div class="card-image">
              <img src="assets/images/Atencion.png" alt="Imagen del proyecto">
          </div>
          <h3>EL VALOR DE LA ATENCION</h3>
          <p>La importancia de resuperar la atencion <br> Por qué nos la robaron y como recuperarla</p>
          <a routerLink="/articulos" class="btn">Ver Articulo</a>
      </div>
      <div class="card">
          <div class="card-image">
              <img src="assets/images/IAlocal.png" alt="Imagen del proyecto">
          </div>
          <h3>INSTALAR DEEP SEEK EN LOCAL</h3>
          <p>El gran poder de correr deep seek R1 <br> en local</p>
          <a routerLink="/articulos" class="btn">Ver Articulo</a>
      </div>
  </div>
</section>

