<div class="hero-container hero-parallax">
  <div class="hero-content">
      <h1 class="hero-title">Guillermo Vásquez</h1>
      <p class="hero-subtitle">Ingeniería de software, Electrónica, Electricidad</p>
      <a href="https://github.com/guillermoSoftwareEngineer" class="hero-button">GitHub</a>
  </div>
</div>

<section class="highlights">
  <h2>Destacados</h2>
  <div class="highlight-cards">
      <div class="card">
          <h3>Proyectos Recientes</h3>
          <p>Explora mis últimos trabajos y proyectos destacados.</p>
          <a routerLink="/proyectos" class="btn">Ver Proyectos</a>
      </div>
      <div class="card">
          <h3>Artículos Técnicos</h3>
          <p>Lee mis artículos sobre desarrollo web y tecnología.</p>
          <a routerLink="/articulos" class="btn">Leer Artículos</a>
      </div>
  </div>
</section>
