<section class="articulo">
  <div class="articulo-container">
      <!-- Imagen del proyecto -->
      <div class="articulo-imagen">
          <!-- Cambio el src estatico por [src]="articulo?.image" -->
          <img [src]="articulo?.image" [alt]="articulo?.title" class="imagen-proyecto">
      </div>

      <!-- Descripción del proyecto -->
      <div class="articulo-descripcion">
          <!-- Cambio el título estatico por {{ articulo?.title }} -->
          <h2 class="articulo-titulo">{{ articulo?.title }}</h2>
          <!-- Cambio la descripción estatica por {{ articulo?.description }} -->
          <p class="articulo-texto">
              {{ articulo?.description }}
          </p>

          <!-- Logos de tecnologias -->
          <div class="tecnologias">
              <h3 class="tecnologias-titulo">tecnologias Utilizadas</h3>
              <div class="tecnologias-lista">
                  <!-- Recorremos el array de tecnologias usando *ngFor -->
                  <ng-container *ngFor="let tech of articulo?.technologies">
                    <img
                      [src]="tech.image"
                      [alt]="tech.alt"
                      class="tecnologia-logo"
                    />
                  </ng-container>
              </div>
          </div>
      </div>
  </div>
</section>


