<div class="documento-container">
  <h2>Conexión Raspberry Pi y AZURE</h2>
  <p>
    El siguiente es el enlace para que conozcas el informe IEEE de mi proyecto de conexión entre Azure y
    Raspberry Pi, desarrollado como parte de una de mis profundizaciones en la carrera de Ingeniería de
    Software en el Politécnico Grancolombiano.
    Recuerda que todo el contenido de esta web está sujeto a la licencia MIT.
  </p>
  <a [href]="documentoUrl" download="InformeIEEE.docx" class="btn-descargar">
    Descarga el Informe IEEE
  </a>
</div>
